# ===============================================
# Android Studio / IntelliJ
# ===============================================
*.iml
.gradle/
local.properties
.idea/
.DS_Store

# ===============================================
# Android Build Files
# ===============================================
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jar
*.so
*.mo

# ===============================================
# Private Keys - VERY IMPORTANT
# ===============================================
*.jks
*.keystore

# ===============================================
# Log files
# ===============================================
*.log